In [153]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb

In [189]:
TRAIN_df=pd.read_csv('./TRAIN_df.csv')
TEST_df= pd.read_csv('./diamonds_test.csv')

In [190]:
TRAIN_df.drop(['Unnamed: 0'], inplace=True,axis=1)

In [191]:
TRAIN_df

,index_id,price,carat,color,clarity,city,cut,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,1.21,J,VS2,Kimberly,Premium,62.4,58.0,6.83,6.79,4.25
1,248aa2bdd0032920ac9e5f6ad36c350549da067efeaf7b...,4839,1.20,J,VS2,Kimberly,Premium,60.8,60.0,6.85,6.89,4.18
2,72b31cf00f8ab3967588fad4a32f61622cb162f9b7bc2c...,368,0.30,J,VS2,Kimberly,Premium,60.6,59.0,4.34,4.38,2.64
3,98c53df687f2e9b94da80eef5b9049f1fac456b4c41c80...,5053,1.20,J,VS2,Kimberly,Premium,62.6,57.0,6.80,6.72,4.23
4,5dfe43a321c6834c7de273c73aeadc705d919a5869e0f5...,3593,1.05,J,VS2,Kimberly,Premium,59.4,62.0,6.66,6.58,3.93
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,ae8502b547dea0285938b80c225004b2bae4893f1fd22d...,893,0.58,F,I1,Paris,Fair,66.3,55.0,5.18,5.10,3.41
40451,b86a47eaf9d2b0cf4d6ccab66641ae9dad5a9ad4ea0891...,3734,1.51,F,I1,Paris,Fair,67.8,59.0,7.09,7.00,4.78
40452,d8470d878d49355e06ef439dc1c2c4502ed992623e4dc8...,2037,1.04,I,I1,Paris,Fair,67.3,56.0,6.34,6.23,4.22
40453,23c34d0a9557ec34e03ed4da729b05411ed33ee9b81ed0...,1440,0.37,D,IF,Paris,Fair,61.2,57.0,4.68,4.73,2.88
40454,bfcae0114088c1767863ef9463f93f442215b9c671c24e...,1166,0.37,F,IF,Paris,Fair,52.3,61.0,4.96,4.91,2.58

In [192]:
TRAIN_df['cut'].unique()

array(['Premium', 'Ideal', 'Good', 'Very Good', 'Fair'], dtype=object)

In [193]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for color_var in ['J', 'H', 'G', 'D', 'F', 'E', 'I']:
    TRAIN_df['color_cat'] = le.fit_transform(TRAIN_df['color'])
for clarity_var in ['VS2', 'VS1', 'SI1', 'VVS2', 'SI2', 'VVS1', 'I1', 'IF']:
    TRAIN_df['clarity_cat'] = le.fit_transform(TRAIN_df['clarity'])
for cut_var in ['Premium', 'Ideal', 'Good', 'Very Good', 'Fair']:
    TRAIN_df['cut_cat'] = le.fit_transform(TRAIN_df['cut'])

In [194]:
TRAIN_df

,index_id,price,carat,color,clarity,city,cut,depth,table,x,y,z,color_cat,clarity_cat,cut_cat
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,4268,1.21,J,VS2,Kimberly,Premium,62.4,58.0,6.83,6.79,4.25,6,5,3
1,248aa2bdd0032920ac9e5f6ad36c350549da067efeaf7b...,4839,1.20,J,VS2,Kimberly,Premium,60.8,60.0,6.85,6.89,4.18,6,5,3
2,72b31cf00f8ab3967588fad4a32f61622cb162f9b7bc2c...,368,0.30,J,VS2,Kimberly,Premium,60.6,59.0,4.34,4.38,2.64,6,5,3
3,98c53df687f2e9b94da80eef5b9049f1fac456b4c41c80...,5053,1.20,J,VS2,Kimberly,Premium,62.6,57.0,6.80,6.72,4.23,6,5,3
4,5dfe43a321c6834c7de273c73aeadc705d919a5869e0f5...,3593,1.05,J,VS2,Kimberly,Premium,59.4,62.0,6.66,6.58,3.93,6,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,ae8502b547dea0285938b80c225004b2bae4893f1fd22d...,893,0.58,F,I1,Paris,Fair,66.3,55.0,5.18,5.10,3.41,2,0,0
40451,b86a47eaf9d2b0cf4d6ccab66641ae9dad5a9ad4ea0891...,3734,1.51,F,I1,Paris,Fair,67.8,59.0,7.09,7.00,4.78,2,0,0
40452,d8470d878d49355e06ef439dc1c2c4502ed992623e4dc8...,2037,1.04,I,I1,Paris,Fair,67.3,56.0,6.34,6.23,4.22,5,0,0
40453,23c34d0a9557ec34e03ed4da729b05411ed33ee9b81ed0...,1440,0.37,D,IF,Paris,Fair,61.2,57.0,4.68,4.73,2.88,0,1,0
40454,bfcae0114088c1767863ef9463f93f442215b9c671c24e...,1166,0.37,F,IF,Paris,Fair,52.3,61.0,4.96,4.91,2.58,2,1,0

In [195]:
TRAIN_df.drop(['color','clarity','city','cut','index_id'], inplace=True,axis=1)

In [196]:
TRAIN_df

,price,carat,depth,table,x,y,z,color_cat,clarity_cat,cut_cat
0,4268,1.21,62.4,58.0,6.83,6.79,4.25,6,5,3
1,4839,1.20,60.8,60.0,6.85,6.89,4.18,6,5,3
2,368,0.30,60.6,59.0,4.34,4.38,2.64,6,5,3
3,5053,1.20,62.6,57.0,6.80,6.72,4.23,6,5,3
4,3593,1.05,59.4,62.0,6.66,6.58,3.93,6,5,3
...,...,...,...,...,...,...,...,...,...,...
40450,893,0.58,66.3,55.0,5.18,5.10,3.41,2,0,0
40451,3734,1.51,67.8,59.0,7.09,7.00,4.78,2,0,0
40452,2037,1.04,67.3,56.0,6.34,6.23,4.22,5,0,0
40453,1440,0.37,61.2,57.0,4.68,4.73,2.88,0,1,0
40454,1166,0.37,52.3,61.0,4.96,4.91,2.58,2,1,0

In [197]:
TEST_df.drop(['city','id'], inplace=True,axis=1)

In [198]:
TEST_df

       carat        cut color clarity  depth  table     x     y     z
0       0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1       1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2       1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3       0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4       0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19
...      ...        ...   ...     ...    ...    ...   ...   ...   ...
13480   0.57      Ideal     E     SI1   61.9   56.0  5.35  5.32  3.30
13481   0.71      Ideal     I     VS2   62.2   55.0  5.71  5.73  3.56
13482   0.70      Ideal     F     VS1   61.6   55.0  5.75  5.71  3.53
13483   0.70  Very Good     F     SI2   58.8   57.0  5.85  5.89  3.45
13484   0.40      Ideal     I    VVS2   62.4   55.0  4.70  4.73  2.94

[13485 rows x 9 columns]

In [199]:
for color_var in ['J', 'H', 'G', 'D', 'F', 'E', 'I']:
    TEST_df['color_cat'] = le.fit_transform(TEST_df['color'])
for clarity_var in ['VS2', 'VS1', 'SI1', 'VVS2', 'SI2', 'VVS1', 'I1', 'IF']:
    TEST_df['clarity_cat'] = le.fit_transform(TEST_df['clarity'])
for cut_var in ['Premium', 'Ideal', 'Good', 'Very Good', 'Fair']:
    TEST_df['cut_cat'] = le.fit_transform(TEST_df['cut'])

In [200]:
TEST_df.drop(['color','clarity','cut'], inplace=True,axis=1)

In [201]:
#PROBAR ONE HOT ENCONDING, PERO QUIZÁ NO EN TODAS. OBJETIVO=500 
#MIRAR SCALING Y PONERLO EN FUNCION DE 1(VARIANZA)
#COGER LOGARITMOS
#.clip para que no coja numeros negativos en la prediccion
#cross validation

In [202]:
TEST_df

       carat  depth  table     x     y     z  color_cat  clarity_cat  cut_cat
0       0.79   62.7   60.0  5.82  5.89  3.67          2            2        4
1       1.20   61.0   57.0  6.81  6.89  4.18          6            4        2
2       1.57   62.2   61.0  7.38  7.32  4.57          4            2        3
3       0.90   63.8   54.0  6.09  6.13  3.90          2            2        4
4       0.50   62.9   58.0  5.05  5.09  3.19          2            4        4
...      ...    ...    ...   ...   ...   ...        ...          ...      ...
13480   0.57   61.9   56.0  5.35  5.32  3.30          1            2        2
13481   0.71   62.2   55.0  5.71  5.73  3.56          5            5        2
13482   0.70   61.6   55.0  5.75  5.71  3.53          2            4        2
13483   0.70   58.8   57.0  5.85  5.89  3.45          2            3        4
13484   0.40   62.4   55.0  4.70  4.73  2.94          5            7        2

[13485 rows x 9 columns]

In [203]:
TEST_df['table'] = np.log(TEST_df['table'])
TEST_df['depth']=np.log(TEST_df['depth'])
TRAIN_df['table'] = np.log(TRAIN_df['table'])
TRAIN_df['depth']=np.log(TRAIN_df['depth'])

In [204]:
TRAIN_df

,price,carat,depth,table,x,y,z,color_cat,clarity_cat,cut_cat
0,4268,1.21,4.133565,4.060443,6.83,6.79,4.25,6,5,3
1,4839,1.20,4.107590,4.094345,6.85,6.89,4.18,6,5,3
2,368,0.30,4.104295,4.077537,4.34,4.38,2.64,6,5,3
3,5053,1.20,4.136765,4.043051,6.80,6.72,4.23,6,5,3
4,3593,1.05,4.084294,4.127134,6.66,6.58,3.93,6,5,3
...,...,...,...,...,...,...,...,...,...,...
40450,893,0.58,4.194190,4.007333,5.18,5.10,3.41,2,0,0
40451,3734,1.51,4.216562,4.077537,7.09,7.00,4.78,2,0,0
40452,2037,1.04,4.209160,4.025352,6.34,6.23,4.22,5,0,0
40453,1440,0.37,4.114147,4.043051,4.68,4.73,2.88,0,1,0
40454,1166,0.37,3.956996,4.110874,4.96,4.91,2.58,2,1,0

# TRAIN

In [205]:
X=TRAIN_df[['carat','depth','table','x','y','z','color_cat','clarity_cat','cut_cat']]
y=TRAIN_df['price']

#data_dmatrix = xgb.DMatrix(data=X,label=y)

In [206]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [207]:
model = RandomForestRegressor(random_state = 42)
#model = GradientBoostingRegressor(random_state = 42) #PEOR
#model = ElasticNet()
#model = Ridge()
#model = SVR()
#model = SGDRegressor()
#model = LinearRegression()#PEOR

#model=xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.1,
                #max_depth = 5, alpha = 10, n_estimators = 10)
hyperparameters = model.get_params()

In [208]:
model.fit(X_train, y_train)
y_train_pred=model.predict(X_train)

In [209]:
#PREDICCIONES QUE HAGO YA SOBRE EL TEST DE KAGGLE
predictions = model.predict(TEST_df)

In [210]:
print(predictions)

[2885.37 5434.09 9107.69 ... 3064.64 2163.66  871.8 ]

In [211]:
len(predictions)

13485

In [212]:
Submit1 = pd.DataFrame(predictions,columns=['price']).reset_index().rename(columns={'index':'id'})

In [213]:
Submit1

          id    price
0          0  2885.37
1          1  5434.09
2          2  9107.69
3          3  4010.94
4          4  1699.12
...      ...      ...
13480  13480  1920.14
13481  13481  2356.17
13482  13482  3064.64
13483  13483  2163.66
13484  13484   871.80

[13485 rows x 2 columns]

In [215]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
mean_squared_error(y_train_pred, y_train)
rmse = mean_squared_error(y_train_pred,y_train, squared=False)
rmse

208.8759515644366

In [216]:
#params = {"objective":"reg:squarederror",'colsample_bytree': 0.3,'learning_rate': 0.1,
                #'max_depth': 5, 'alpha': 10}

#cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    #num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=42)

In [217]:
#cv_results.head()

In [218]:
Submit1.to_csv('./Submit3.csv',index=False)